<h1 align=center><font size = 5>Regression</font></h1>

In [40]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

Let's download the data and read it into a <em>pandas</em> dataframe.

In [5]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

Let's check the dataset for any missing values.

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [8]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation. The goal of normalization is to change the values of numeric columns in the dataset to use a common scale, without distorting differences in the ranges of values or losing information. For example, assume your input dataset contains one column with values ranging from 0 to 1, and another column with values ranging from 10,000 to 100,000. The great difference in the scale of the numbers could cause problems when you attempt to combine the values as features during modeling.

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [20]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [23]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,))) # 50 neurons in input layer
    model.add(Dense(50, activation='relu')) # 50 nuerons in hidden layer
    model.add(Dense(1)) # 1 neuron inputput layer
    model.compile(optimizer='adam', loss='mean_squared_error') # Compiling
    
    return model

<a id="item4"></a>

## Train and Test the Network

In [41]:
model = regression_model()

# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 1s - loss: 1670.8161 - val_loss: 1160.2741
Epoch 2/100
 - 0s - loss: 1563.1470 - val_loss: 1060.7175
Epoch 3/100
 - 0s - loss: 1392.9826 - val_loss: 900.9378
Epoch 4/100
 - 0s - loss: 1116.9659 - val_loss: 683.9224
Epoch 5/100
 - 0s - loss: 762.0126 - val_loss: 445.7414
Epoch 6/100
 - 0s - loss: 432.5769 - val_loss: 283.5193
Epoch 7/100
 - 0s - loss: 282.1253 - val_loss: 212.6263
Epoch 8/100
 - 0s - loss: 238.4745 - val_loss: 202.3536
Epoch 9/100
 - 0s - loss: 221.3700 - val_loss: 196.4466
Epoch 10/100
 - 0s - loss: 209.1086 - val_loss: 192.9892
Epoch 11/100
 - 0s - loss: 199.8242 - val_loss: 190.9376
Epoch 12/100
 - 0s - loss: 191.9775 - val_loss: 187.3751
Epoch 13/100
 - 0s - loss: 186.0325 - val_loss: 184.8440
Epoch 14/100
 - 0s - loss: 180.1268 - val_loss: 182.5535
Epoch 15/100
 - 0s - loss: 175.6539 - val_loss: 182.9055
Epoch 16/100
 - 0s - loss: 171.2508 - val_loss: 178.8920
Epoch 17/100
 - 0s - loss: 167.5823 - val_loss: 177.1830
Epoch 18/100
 - 0s - loss: 163.6288 - val_loss: 174.2468
Epoch 19/100
 - 0s - loss: 160.7371 - val_loss: 174.3651
Epoch 20/100
 - 0s - loss: 158.5521 - val_loss: 173.0532
Epoch 21/100
 - 0s - loss: 156.1129 - val_loss: 170.9025
Epoch 22/100
 - 0s - loss: 153.4830 - val_loss: 169.6192
Epoch 23/100
 - 0s - loss: 151.4319 - val_loss: 169.4578
Epoch 24/100
 - 0s - loss: 149.3493 - val_loss: 168.9033
Epoch 25/100
 - 0s - loss: 147.4400 - val_loss: 169.5403
Epoch 26/100
 - 0s - loss: 145.7126 - val_loss: 166.6168
Epoch 27/100
 - 0s - loss: 144.2282 - val_loss: 167.5593
Epoch 28/100
 - 0s - loss: 142.3484 - val_loss: 169.3358
Epoch 29/100
 - 0s - loss: 140.3640 - val_loss: 168.8627
Epoch 30/100
 - 0s - loss: 138.8675 - val_loss: 167.6790
Epoch 31/100
 - 0s - loss: 136.8953 - val_loss: 168.7751
Epoch 32/100
 - 0s - loss: 135.3658 - val_loss: 166.7040
Epoch 33/100
 - 0s - loss: 133.3671 - val_loss: 169.6492
Epoch 34/100
 - 0s - loss: 131.8006 - val_loss: 169.3802
Epoch 35/100
 - 0s - loss: 131.0037 - val_loss: 165.0253
Epoch 36/100
 - 0s - loss: 128.3215 - val_loss: 168.9863
Epoch 37/100
 - 0s - loss: 126.7299 - val_loss: 166.7394
Epoch 38/100
 - 0s - loss: 125.2397 - val_loss: 164.6366
Epoch 39/100
 - 0s - loss: 123.2559 - val_loss: 166.1696
Epoch 40/100
 - 0s - loss: 121.2775 - val_loss: 164.3815
Epoch 41/100
 - 0s - loss: 119.6341 - val_loss: 162.2196
Epoch 42/100
 - 0s - loss: 118.2981 - val_loss: 163.5188
Epoch 43/100
 - 0s - loss: 115.1944 - val_loss: 160.7444
Epoch 44/100
 - 0s - loss: 113.1952 - val_loss: 161.1218
Epoch 45/100
 - 0s - loss: 111.3128 - val_loss: 154.2933
Epoch 46/100
 - 0s - loss: 109.1856 - val_loss: 154.8624
Epoch 47/100
 - 0s - loss: 106.5139 - val_loss: 151.4557
Epoch 48/100
 - 0s - loss: 103.5141 - val_loss: 147.6673
Epoch 49/100
 - 0s - loss: 100.8148 - val_loss: 147.1340
Epoch 50/100
 - 0s - loss: 98.3707 - val_loss: 142.3360
Epoch 51/100
 - 0s - loss: 96.2496 - val_loss: 142.7524
Epoch 52/100
 - 0s - loss: 94.1688 - val_loss: 142.4100
Epoch 53/100
 - 0s - loss: 91.0542 - val_loss: 137.1857
Epoch 54/100
 - 0s - loss: 88.5977 - val_loss: 139.6279
Epoch 55/100
 - 0s - loss: 85.9193 - val_loss: 131.3753
Epoch 56/100
 - 0s - loss: 82.7709 - val_loss: 125.2516
Epoch 57/100
 - 0s - loss: 79.8569 - val_loss: 126.2473
Epoch 58/100
 - 0s - loss: 77.3524 - val_loss: 123.6276
Epoch 59/100
 - 0s - loss: 74.5445 - val_loss: 125.7173
Epoch 60/100
 - 0s - loss: 73.9210 - val_loss: 119.1736
Epoch 61/100
 - 0s - loss: 69.4948 - val_loss: 116.0627
Epoch 62/100
 - 0s - loss: 66.6901 - val_loss: 118.4347
Epoch 63/100
 - 0s - loss: 64.7570 - val_loss: 124.5168
Epoch 64/100
 - 0s - loss: 61.5692 - val_loss: 115.5754
Epoch 65/100
 - 0s - loss: 59.7722 - val_loss: 111.5993
Epoch 66/100
 - 0s - loss: 57.4981 - val_loss: 112.9488
Epoch 67/100
 - 0s - loss: 55.4716 - val_loss: 111.8672
Epoch 68/100
 - 0s - loss: 54.1775 - val_loss: 119.9438
Epoch 69/100
 - 0s - loss: 51.7595 - val_loss: 120.3219
Epoch 70/100
 - 0s - loss: 50.9364 - val_loss: 114.6688
Epoch 71/100
 - 0s - loss: 49.4324 - val_loss: 117.7167
Epoch 72/100
 - 0s - loss: 48.4502 - val_loss: 104.9677
Epoch 73/100
 - 0s - loss: 46.1046 - val_loss: 123.0462
Epoch 74/100
 - 0s - loss: 44.7234 - val_loss: 108.3599
Epoch 75/100
 - 0s - loss: 43.5180 - val_loss: 101.9767
Epoch 76/100
 - 0s - loss: 42.5565 - val_loss: 108.2826
Epoch 77/100
 - 0s - loss: 41.5195 - val_loss: 120.0321
Epoch 78/100
 - 0s - loss: 40.9768 - val_loss: 109.5420
Epoch 79/100
 - 0s - loss: 40.0730 - val_loss: 117.5751
Epoch 80/100
 - 0s - loss: 39.9427 - val_loss: 112.4794
Epoch 81/100
 - 0s - loss: 38.6079 - val_loss: 110.1994
Epoch 82/100
 - 0s - loss: 38.3296 - val_loss: 100.6411
Epoch 83/100
 - 0s - loss: 37.3476 - val_loss: 112.9892
Epoch 84/100
 - 0s - loss: 36.7989 - val_loss: 115.3063
Epoch 85/100
 - 0s - loss: 36.4635 - val_loss: 120.8071
Epoch 86/100
 - 0s - loss: 36.3165 - val_loss: 108.1059
Epoch 87/100
 - 0s - loss: 35.8061 - val_loss: 114.9869
Epoch 88/100
 - 0s - loss: 35.1789 - val_loss: 112.9925
Epoch 89/100
 - 0s - loss: 35.0782 - val_loss: 117.2950
Epoch 90/100
 - 0s - loss: 34.2503 - val_loss: 116.2777
Epoch 91/100
 - 0s - loss: 33.9315 - val_loss: 105.6090
Epoch 92/100
 - 0s - loss: 33.4606 - val_loss: 113.4991
Epoch 93/100
 - 0s - loss: 32.8027 - val_loss: 120.1517
Epoch 94/100
 - 0s - loss: 32.8469 - val_loss: 119.8770
Epoch 95/100
 - 0s - loss: 32.4217 - val_loss: 116.4774
Epoch 96/100
 - 0s - loss: 31.8849 - val_loss: 108.8616
Epoch 97/100
 - 0s - loss: 31.7079 - val_loss: 118.9240
Epoch 98/100
 - 0s - loss: 31.0255 - val_loss: 111.7103
Epoch 99/100
 - 0s - loss: 30.6519 - val_loss: 105.8225
Epoch 100/100
 - 0s - loss: 30.2840 - val_loss: 133.2312